<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCpy6s0jPmDPR5bT50Z5t-HypIfyfCeEbo</string>
	<key>GCM_SENDER_ID</key>
	<string>559837311361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tamsadan.toolinder</string>
	<key>PROJECT_ID</key>
	<string>few-worlds-mono</string>
	<key>STORAGE_BUCKET</key>
	<string>few-worlds-mono.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559837311361:ios:bacacbdea0719a7ef37880</string>
</dict>
</plist>